In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, fpgrowth
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import association_rules
df = pd.read_excel('datasheet.xlsx')
df.head()

,tid,nama,kelas,qty,title,tgl_pinjam,tgl_kembali
0,1,SALSA MAULANI,XI IPS 2,1,WHY ? BUMI,2019-01-02,2019-01-09
1,2,NABILA,XII IPA 2,1,HAPPINESS,2019-01-03,2019-01-10
2,3,WALIDAH,XII IPA 2,1,HAPPINESS,2019-01-03,2019-01-10
3,4,AULIA NURUL UTAMI,XII IPA 2,1,CURHAT SAMA NABI,2019-01-03,2019-01-10
4,5,DIANI,XII IPS 3,1,EFISIENSI WAKTU UNTUK MANAGER,2019-01-03,2019-01-10

In [2]:
df['title'] = df['title'].str.strip()
df.dropna(axis=0, subset=['tid'], inplace=True)
df['tid'] = df['tid'].astype('str')
df = df[~df['tid'].str.contains('C')]
df

,tid,nama,kelas,qty,title,tgl_pinjam,tgl_kembali
0,1,SALSA MAULANI,XI IPS 2,1,WHY ? BUMI,2019-01-02,2019-01-09
1,2,NABILA,XII IPA 2,1,HAPPINESS,2019-01-03,2019-01-10
2,3,WALIDAH,XII IPA 2,1,HAPPINESS,2019-01-03,2019-01-10
3,4,AULIA NURUL UTAMI,XII IPA 2,1,CURHAT SAMA NABI,2019-01-03,2019-01-10
4,5,DIANI,XII IPS 3,1,EFISIENSI WAKTU UNTUK MANAGER,2019-01-03,2019-01-10
...,...,...,...,...,...,...,...
1081,914,ADINDA,XII MIPA,1,RINDU,2019-12-13,2019-12-20
1082,915,SARAH,XII MIPA,1,SURAT DAHLAN,2019-12-13,2019-12-20
1083,915,SARAH,XII MIPA,1,AYAKU BUKAN PEMBOHONG,2019-12-13,2019-12-20
1084,916,SALMA,X MIPA 2,1,"KAU, AKU DAN SEPUCUK ANGPAO MERAH",2019-12-13,2019-12-20
1085,917,AHSYTA,X MIPA 2,1,NEGERI PARA BEDEBAH,2019-12-16,2019-12-23

In [3]:
basket = (df.groupby(['tid', 'title'])['qty']
          .sum().unstack().reset_index().fillna(0)
          .set_index('tid'))
basket

title,,100% JAWARA FISIKA,105 PESA NABI UNTUK WANITA,105 PESAN NABI,105 PESAN NABI UNTUK WANITA SEHARI HARI,115 KISAH MENAJUBKAN,15 KISAH NYATA HOROR,17 TAHUN,17 TAHUN BIKIN PUSING,20 PAHLAWAN NASIONAL,...,WHY ? ROKET DAN PESAWAT RUANG ANGKASA,WHY ? SAINS INVESTUIGASI,WHY ? SAINTS INVESTIGASI,WHY CAN'T FALL IN LOVE,WHY KANEDA CAN'T FALL IN LOVE 1,WHY KANEDA CAN'T FALL IN LOVE 2,WOMAN IN CABIN 10,YA ALLAH MASUKAN AKU KEDALAM SURGA-MU,YESUS ANAK MANUSIA,ZEIRA
tid,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
102,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
97,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1
basket_sets = basket.applymap(encode_units)
basket_sets

title,,100% JAWARA FISIKA,105 PESA NABI UNTUK WANITA,105 PESAN NABI,105 PESAN NABI UNTUK WANITA SEHARI HARI,115 KISAH MENAJUBKAN,15 KISAH NYATA HOROR,17 TAHUN,17 TAHUN BIKIN PUSING,20 PAHLAWAN NASIONAL,...,WHY ? ROKET DAN PESAWAT RUANG ANGKASA,WHY ? SAINS INVESTUIGASI,WHY ? SAINTS INVESTIGASI,WHY CAN'T FALL IN LOVE,WHY KANEDA CAN'T FALL IN LOVE 1,WHY KANEDA CAN'T FALL IN LOVE 2,WOMAN IN CABIN 10,YA ALLAH MASUKAN AKU KEDALAM SURGA-MU,YESUS ANAK MANUSIA,ZEIRA
tid,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
101,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
102,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
97,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
frequent_itemsets_ap = apriori(basket_sets, min_support=0.002, use_colnames=True)

In [6]:
frequent_itemsets_ap

      support                                           itemsets
0    0.004362                              (100%  JAWARA FISIKA)
1    0.002181                       (105 PESA NABI UNTUK WANITA)
2    0.006543                             (115 KISAH MENAJUBKAN)
3    0.003272                                (3 WALI 1 BIDADARI)
4    0.005453                (5 PONDASI RAHASIA PEMIMPIN UNGGUL)
..        ...                                                ...
214  0.002181                  (RAHASIA LUKISAN, GELANG BERTUAH)
215  0.002181  (HABIBIE ( TAK BOLEH LELAH DAN KALAH), MAHASIS...
216  0.002181         (HAPPINESS, KENANG KENANGAN WANITA PEMALU)
217  0.002181       (NEGERI DIUJUNG TANDUK, NEGERI PARA BEDEBAH)
218  0.002181   (PATAH HATI WOLES AJA!, SURAT KECIL UNTUK TUHAN)

[219 rows x 2 columns]

In [7]:
frequent_itemsets_fp = fpgrowth(basket_sets, min_support=0.002, use_colnames=True)

In [8]:
frequent_itemsets_fp

      support                                           itemsets
0    0.004362                                            (GHAZI)
1    0.013086                                   (A UNTUK AMANDA)
2    0.006543                                      (DEAR NATHAN)
3    0.010905                                   (TANAMAN MOSTER)
4    0.007634                                         (TIFA TUA)
..        ...                                                ...
214  0.002181                      (OLIVER TWIST, ABOUT FRIENDS)
215  0.002181               (EMPAT KHALIFAH, ODE A NIGTHTINGALE)
216  0.004362            (MARKETING MUHAMMAD, BIOLOGI KLS X BSE)
217  0.002181  (BILANG BEGINI MAKSUDNYA BEGITU, SUNSHINE BECO...
218  0.002181  (HABIBIE ( TAK BOLEH LELAH DAN KALAH), MAHASIS...

[219 rows x 2 columns]

In [9]:
rules_apriori = association_rules(frequent_itemsets_ap, metric="confidence", min_threshold=0.8)
rules_ctpro = association_rules(frequent_itemsets_fp, metric="confidence", min_threshold=0.8)

In [10]:
rules_apriori

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(SHALAHUDDIN AL-AYUBI),(BE CALM BE STRONG BE GRATEFUL),0.007634,0.015267,0.006543,0.857143,56.142857,0.006427,6.893130
1,(MARKETING MUHAMMAD),(BIOLOGI KLS X BSE),0.005453,0.047983,0.004362,0.800000,16.672727,0.004100,4.760087
2,(EMPAT KHALIFAH),(ODE A NIGTHTINGALE),0.002181,0.002181,0.002181,1.000000,458.500000,0.002176,inf
3,(ODE A NIGTHTINGALE),(EMPAT KHALIFAH),0.002181,0.002181,0.002181,1.000000,458.500000,0.002176,inf
4,(HABIBIE ( TAK BOLEH LELAH DAN KALAH)),(MAHASISWA KOPLAK),0.002181,0.003272,0.002181,1.000000,305.666667,0.002174,inf
5,(KENANG KENANGAN WANITA PEMALU),(HAPPINESS),0.002181,0.010905,0.002181,1.000000,91.700000,0.002157,inf
6,(PATAH HATI WOLES AJA!),(SURAT KECIL UNTUK TUHAN),0.002181,0.007634,0.002181,1.000000,131.000000,0.002164,inf

In [11]:
rules_ctpro

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(KENANG KENANGAN WANITA PEMALU),(HAPPINESS),0.002181,0.010905,0.002181,1.000000,91.700000,0.002157,inf
1,(SHALAHUDDIN AL-AYUBI),(BE CALM BE STRONG BE GRATEFUL),0.007634,0.015267,0.006543,0.857143,56.142857,0.006427,6.893130
2,(PATAH HATI WOLES AJA!),(SURAT KECIL UNTUK TUHAN),0.002181,0.007634,0.002181,1.000000,131.000000,0.002164,inf
3,(EMPAT KHALIFAH),(ODE A NIGTHTINGALE),0.002181,0.002181,0.002181,1.000000,458.500000,0.002176,inf
4,(ODE A NIGTHTINGALE),(EMPAT KHALIFAH),0.002181,0.002181,0.002181,1.000000,458.500000,0.002176,inf
5,(MARKETING MUHAMMAD),(BIOLOGI KLS X BSE),0.005453,0.047983,0.004362,0.800000,16.672727,0.004100,4.760087
6,(HABIBIE ( TAK BOLEH LELAH DAN KALAH)),(MAHASISWA KOPLAK),0.002181,0.003272,0.002181,1.000000,305.666667,0.002174,inf